@model Curse.Models.ViewModels.SummaryViewModel
@{
    ViewBag.Title = "Sports Stats Home Page";
}

@Html.Partial("_Summary")

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
