@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Sorry, the Sports Stats application has encountered an error while processing your request. The system administrator has been notified</h2>
</hgroup>
